POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=pantrypal
POSTGRES_USER=pantrypal
POSTGRES_PASSWORD=changeme
APP_USER_1_NAME=user1
APP_USER_1_PASSWORD=changeme
APP_USER_2_NAME=user2
APP_USER_2_PASSWORD=changeme
